.projects{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid #318ca7;
}
.middleBody{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.title{
    text-align: center;
}
.middleBody .divOff{
    width: 10%;
    height: 100%;
    background-color: rgba(9,49,67,1);
    border-radius: 50px;
    cursor: pointer;
    /** transform: translateX(-1100%);**/
    transition: all 0.8s ease;
}


.middleBody .activeProject{
    width: 55%;
    cursor: initial;
    overflow: hidden;
}

/** manipulation du titre projet **/ 
.project_title{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    transform: rotate(90deg);
    margin-top: 200px;
    transition: all 0.8s ease;
    color: rgba(49,140,167,1);
}
.activeProject_title{
    transform: rotate(0deg);
    margin-top: 20px;
}

/** manipulation du contenue du projet (hide and show)**/
.compoContainer{
    display: none;
}
.activeCompoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}




@media (max-width:500px){
    
    .middleBody .divOff{
        height: 60%;
    }
    .project_title{
        font-size: 10px;
    }
}