.footer{
    border-top: 1px solid gray;
    background-color: #eaeaea;
}
.apropos{
    width: 30%;
}
h5{
    text-align: center;
    position: relative;
    padding: 10px 0;
}
.heart{
    position: absolute;
    color: red;
    transition: transform 0.5s ease;
    margin-left: 15px;
}
.heart_on{
}