.skills{
    height: 60vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills h1{
    color: rgba(9,49,67,1);
    font-family: Changa!important;
    text-align: center;
  }
.divs{
    height:70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.divs div{
    width: 50%;
    height: 45px;
    text-align: center;
    background-color: transparent;
    border: 1px solid darkgrey;
    box-shadow:  5px 5px 15px 0px black;
    overflow: hidden;
    transition: height 0.5s ease-in;

}
.divs div img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.divs div h3{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    color: darkgrey;
    background-color: rgba(9,49,67,1);
}
.col-4:hover{
    height: 100px;
}
.divs div ul{
    width: 100%;
    display: flex;
    list-style: none;
    transition: opacity 0.3s ease-in-out;
}

.divs div ul li{
    width: 100%;
    margin: 5px;
    text-align: justify;
    color: lightgray;
}



@media (max-width:800px){
    .divs div ul {
        flex-direction: column;
    }
    .divs div{
        width: 100%;
    }
    .col-4:hover{
        height : 170px;
    }
}