*{
  margin: 0;
  padding: 0;
  
}
.app> h1,h2,h3,h4,h5,h6{
  font-family: Changa!important;
  color: rgba(9,49,67,1);
}
.app{
  background-color: rgba(49,140,167,1);
}
html{
  background-color: rgba(49,140,167,1);
}
@font-face{
  font-family: "Lobster";
  src: url('../src/Styles/Fonts/Lobster-Regular.ttf');
}
@font-face{
  font-family: 'Changa';
  src: url('../src/Styles/Fonts/Changa-VariableFont_wght.ttf');
}
@font-face{
  font-family: 'RussoOne';
  src:url('../src/Styles/Fonts/RussoOne-Regular.ttf');
}

/* manipulation du scroll par section 

.sec{
  height: 100vh;
  scroll-snap-align: start;
}
.section1{
  display: flex;
  flex-direction: column;
}

.app {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
*/
