.header_general{
    width: 100%;
    padding: 15px 50px;
    border-bottom: 2px solid red;
    background: rgb(9,49,67);
background: linear-gradient(180deg, rgba(9,49,67,1) 0%, rgba(7,22,30,1) 10%, rgba(49,140,167,1) 50%);
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    transform: translateY(-100%);
    transition: transform 0.8s ease;
}
.showHeader{
    transform: translateY(0);
}
/** Logo animation */
.logo{
    font-family: Lobster;
    font-size: 1.5rem;
    padding: 5px 30px;
    border: 3px solid red;
    text-align: center;
    cursor: pointer;
    color: red;
    position: relative;
    text-shadow: 0px 0px 20px white;
    box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.7);
    transition: all 0.5s ease;
}
.logo:hover{
    border: 3px solid white;
    color: white;
    text-shadow: 0px 0px 15px #FF0000;
   box-shadow : 0px 0px 25px 10px rgba(255,0,0,0.7);
   letter-spacing: 2px;
}
.logo_anim_left{
    width: 10%;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transition: height,left 0.8s ease;
}
.logo_anim_right{
    width: 10%;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 90%;
    transition: height,left 0.8s ease;
}
.logo:hover .logo_anim_left{
    width: 10%;
    left: 90%;
    background-color: white;
}
.logo:hover .logo_anim_right{
    width: 10%;
    left: 0;
    background-color: white;
}

/** end logo animation */



@media (max-width : 500px){
    .header_general{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
   
}