.navBar {
    display: flex;
    font-family: Changa;
    font-size: 1rem;
}
.anim_a{
    width: 100%;
    height: 5%;
    background-color: rgba(49,140,167,1);
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.3s ease;
}
.navBar a{
    position: relative;
    text-align: center;
    text-decoration: none;
    color: rgba(49,140,167,1);
    background-color: rgba(9,49,67,1);
    border-radius: 2px;
}
.navBar a:hover{
    color : rgba(9,49,67,1);
}
.navBar a:hover .anim_a{
    height: 95%;
}

/** le bouton menu */
.hamburger_menu{
    width: 40px;
    height: 28px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 36px;
    right: 35px;
    border: none;
    background-color: transparent;
}

/** les barrete du bouton menu */
.hamburger_menu .bar{
    width: 40px;
    height: 3px;
    border-radius: 15px;
    background-color: white;
}




@media (max-width : 500px) {
    .navBar{
        opacity: 0;
       min-width:100%;
       height: 0;
       flex-direction: column;
       display: none;
    }
    .navBar a{
        background:  rgb(0, 44, 53) ;
    }
    
    .activeNavBar{
        opacity: 1;
        height: 100px;
        margin-top: 50px;
        display: flex;
    }
    .hamburger_menu{
        display: flex;
    }
   
}